<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a>page potion <%=id%><a/>
    <p>      
    Son auteur : == <%= gossip.author %> ==<br/>
    Le contenu du potin : == <%= gossip.content %> ==<br/>
    </p>
    

   <a href='/'>retour acceuil</a>

  </body>
</html>